.services-box{
    height: 182px;
    width: 182px;
    text-align: left;
    padding: 42px 0 42px 30px;
    background-color: var(--bg-light);
    transition: all .7s ease;
}
.services-boxes .services-box img{
    width: 60px;
    margin-bottom: 10px;
    
}
.services-boxes .services-box p{
   font-size: 25px;
}

.services-box:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
.services-box:hover .svg-img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) hue-rotate(180deg);
  }