.hero-section{  
    height: 98vh;
    position: relative;
    background: linear-gradient(0deg, rgba(7, 7, 7, 0.62), rgba(7, 7, 7, 0.62)),url('../../assets/background-image.png') no-repeat;
    background-size: cover  ;
}
.hero-text-container{
    max-width: 728px;
    margin-top: 15rem;
}


.sidebar-icons{
    background-color: var(--bg-light);
    position: absolute;
    right: 0;
    top: 55%;
    padding: 22px 15px;
    border-radius: 10px 0px 0px 10px;
}