:root{
  /* FONT FAMILY */
  --font-switzer:'Switzer', sans-serif;
  /* BACKGROUNDS */
  --bg-card-light:#F4F4EF;
  --bg-card-dark:#000000;
  --bg-light:#FFFFFF;
  --bg-gray:#EDECE3;
  --bg-light_gray:#F7F7F5;
  --bg-dark:#0707079E;
  --bg-gradient:linear-gradient(0deg, rgba(7, 7, 7, 0.62), rgba(7, 7, 7, 0.62));


  /* FONT COLOR */
  --text-dark:#000000;
  --text-light:#FFFFFF;
  --text-gray:#696969;
}


*>*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {margin: 0;padding: 0;}


a{
  text-decoration: none;
}
p{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}
ul{
  margin:0;
  padding: 0;
}




/* GLOBAL CLASSES */

.text-gray{
  color: var(--text-gray);
}

.text-light{
  color: var(--text-light);
}

.text-dark {
  color: var(--bg-card-dark)!important;
}


.text-xm{
  /* 12px */
  font-size: 0.7500em;
  line-height: 1em;
}

.text-sm{
  /* 16px */
  font-size: 1em;
  line-height: 1.325em;
}
.gap-10{
  gap: 10px;
}

.text-md{
  /* Used for Paragaraph */
  font-size: 1.5em;
}
.text-lg{
  font-size: 2em;
}
.text-xl{
  font-size: 4em;
}

.text-xxl{
  font-size: 4.6875em;
}

/* .text-2xl{
  font-size: 5em;
} */
/*  */



.flex-wrap{
  flex-wrap: wrap;
}



/* .bg-dark{
  background-color: red;
} */

/* 
.container{
  width: 100%;
} */

.py-2{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-10{
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.px-5{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-10{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.pb-6{
  padding-bottom: 6rem;
}

.w-70{
  width: 70%;
}
.w-80{
  width: 80%;
}
.w-60{
  width: 60%;
}

.btn{
  border: none;
  cursor: pointer;
}
.btn-dark{
  background-color: var(--text-dark);
  color: var(--text-light);
  font-size: large;
  padding: 12px 26px 12px 26px;
  border-radius: 8px;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

body{
  
  box-sizing: border-box;
  font-family: var(--font-switzer);
  font-weight: 500;
}


/* .left-logo{
  background: url('./assets/logos/header-left.png');
}
.main-logo{
  background:url('./assets/logos/main-logo.png') no-repeat;
  background-size: 276px 67px;
} */




/* @media (min-width:768px) {
  .container{
      max-width:768px ;
  }
}

@media (min-width:1024px) {
  .container{
      max-width: 1024px;
  }
}

@media (min-width:1280px) {
  .container{
      max-width: 1280px;
  }
} */

